.courseItem {
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
}

.courseItem .dateAndLocation {
  font-size: 0.7em;
  color: #111;
  
}

.courseItem .courseName {
	color: #aaa;
	font-size: 0.7em;
}

.courseItem.lecture {
	background-image: url("touch/resources/themes/images/default/pictos/time.png");
}

.courseItem.assignment {
	background-image: url("touch/resources/themes/images/default/pictos/event_complete.png");
}

.x-navigation-bar .x-toolbar-inner {
	background: url("images/aalto.png") no-repeat 5px;
}

.autocomplete-list {
  background-color: white;
}